<h1>Admin::Customers#edit</h1>
<p>Find me in app/views/admin/customers/edit.html.erb</p>
<%#= form_with model: @public do |f| %>
 <label>title</label>
 <%#= f.text_field :title,class:"form-control public_title"%>
 <%#= f.text_area :body ,class:"form-control public_body"%>
 <%#= f.submit 'Update pulic ',class:"btn btn-success" %>
 <%# end %>