 <%#= form_with model: @book_up do |f| %>
 <label>title</label>
 <%#= f.text_field :title,class:"form-control book_title"%>
 <%#= f.text_area :body ,class:"form-control book_body"%>
 <%#= f.submit 'Update Book',class:"btn btn-success" %>
 <%# end %>